
[Unit]
Description= moon board app service
After=multi-user.target

[Service]
User=bob
Type=idle
ExecStart=/bin/bash /home/bob/moonboard/scripts/run.sh

[Install]
WantedBy=multi-user.target